html,
body {
    height: 100%;
    background-color: #222;
    color: #b1b1b1;
    font-family: Inter,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@font-face {
    font-family: Inter;
    src: url("/fonts/Inter-VariableFont_slnt,wght.ttf");
}
.table, .table th, .table tr, .table td {
    border-color: #596067;
}

.table {
    color: unset;
}

.navbar {
    background-color: #111;
}

.navbar .btn-success {
    background-color: transparent;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 20px 15px 20px;
}

.footer {
    height: 60px;
    border-top: 1px solid #596067;
    padding-top: 20px;
}
.footer a {
    color: unset;
    font-weight: bold;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }

    .list-item > .row {
        width: 100%
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.login {
    padding-right: 3px;
}

form > div.required > label.control-label:after {
    content:" * ";
    color:red;
}

.list-item img {
    height: 200px;

}

.list-item {
    padding-bottom: 20px;
}
.list-item a {
    color: unset;
    text-decoration: none;
    background-color: transparent;
}
.breadcrumb {
    background-color: #343a40
}

.form-control {
    color: snow;
    background-color: #343a40;
    border-color: #596067;
}

div .help-block {
    color: red;
}

.img-container {
    width: 100%;
}

.img-view {
    padding: 40px;
    display: block;
}